---
---

@import "{{ site.theme }}";

body {
  background-color: #2b2b2b;
  color: white
}

h1, h2 {
  color: white
}

strong {
  color: rgb(207, 233, 255);;
}

a {
  color: #c080ff;
}

a:hover {
  color: #a050d0;
}

code {
  color: 2b2b2b;
}

p code {
  background-color: #484848;  // Fondo negro para el texto entre comillas invertidas dentro de un párrafo
  color: white;
}